 
  /* Giving our navbar some padding and a background color */
   
  .navbar-brand {
    padding: 10px;
    font-size: 200%;
    background: khaki;
    text-align: center;
    }

    #headertextl {
        font-size: 120%;
        text-align: left;
        color: teal;
    }

  #visualizations {
      font-size: 80%;
      text-align: center;
      color: teal;
  }

  #top-image-left:hover {
    outline-style: solid;
    color: orangered;
  }

  #top-image-right:hover {
    outline-style: solid;
    color: orangered;
  }

  #bottom-image-left:hover {
    outline-style: solid;
    color: orangered;
  }

  #bottom-image-right:hover {
    outline-style: solid;
    color: orangered;
  }

  #compare-top {
    color: teal;
    text-align: center;
  }

  #compare-bottom {
    color: teal;
    text-align: center;
  }
  
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }